body::before {
    content: " ";
    background-color: #000000b3;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

h1 {
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

.container {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    height: 67px;
    width: 56px;
}

.yellow {
    background-color: #FFC107;
}

.img {
    mix-blend-mode: darken;
    top: 7rem;
    position: absolute;
    left: 0;
    height: 500px;
}